#clip {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}
#clip span {
    padding: 10px 22px;
    background-color: #363636;
    color: white;
    display: flex;
    justify-content: space-between;
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%);
  }

#clip span:hover{
    background-color: rgb(242, 245, 248);
    color: #363636;
    cursor: pointer;
}

#conti:hover {
    color:#363636
}

#twoSection{
    display: flex;
    height: auto;
}

.onesec{
    flex:3;
    /* border: 1px solid black; */
    color: #333333;
}
.twosec{
    flex:7;
    /* border: 1px solid black; */
}

#inner_net:hover {
    border: 1px solid rgb(64, 166, 250);
    cursor: pointer;
}